* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

/* NÃO ALTERE DAQUI PRA CIMA */
/* ESCREVA SEU CÓDIGO ABAIXO */

#layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.menu-item {
  background-color: #333;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}

.checkerboard {
  margin-top: 30px;
  width: 320px;
  height: 320px;
  background-image: 
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(-45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(-45deg, transparent 75%, #000 75%);
  background-size: 80px 80px;
  background-position: 0 0, 0 40px, 40px -40px, -40px 0px;
  background-color: #888;
}

.main-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #666;
  padding: 15px 0;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.card {
  background-color: #bbb;
  width: 200px;
  height: 800px;
  padding: 15px;
  text-align: center;
}

.card h3 {
  background: #888;
  margin: 0 0 10px 0;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #444;
  padding: 20px;
  color: white;
}

.portal-layout {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-block {
  display: flex;
  width: 100%;
}

.left-content {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ccc;
  padding: 20px;
}

.main-content {
  display: flex;
}

.article {
  flex: 1;
  background-color: #aaa;
  padding: 20px;
}

.article2 {
  flex: 1;
  background-color: #929292;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background-color: #888;
  padding: 20px;
}

.portal-footer {
  background-color: #666;
  padding: 20px;
  color: white;
  width: 100%;
}